body {
  background-color: rgba(235, 237, 241, 0.712);
  text-align: center;
  font-family: 'Lora', serif;
  color: rgb(94, 103, 117);
}

@media (max-width: 2000px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

.container {
    width: 500px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
  margin: 0 auto;
}

.card {
  margin: 20px 0;
  padding: 1px 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

.button-card {
  padding-bottom: 30px;
}

h1 {
  font-family: 'Liu Jian Mao Cao', cursive;
  font-size: 3em;
}

h2 {
  font-family: 'Poppins', sans-serif;
}

p {
  padding: px;
}

#intro-text {
  margin-bottom: 30px;
}

.button-green {
  color: rgb(255, 255, 255);
  background-color: #00b894;
  border-radius: 10px;
  padding: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  font-weight: bolder;
}

.rounded-pic {
  width: 150px;
  border-radius: 80px;
}

.unordered-list {
  list-style: none;
  padding-left: 0px;
}

ul li {
  display: inline;
  margin: 20px;
  padding: 10px;
}

.social {
  color: #00b894;
  font-size: 2em;
}

i:hover {
  transform: rotate(360deg);
  transition: 2.7s cubic-bezier(.14,1.4,.61,1.32);
}
